@import "../../../uikit/light/vars.css";
@import "../../../uikit/media.css";
@import "../../../uikit/light/buttons.css";

.section {
	min-width: 320px;
	padding: 40px 0;

	/* background-color: var(--ui-block-bg); */
	font-size: var(--ui-text-size);
	font-family: var(--ui-text-font-family);
	color: var(--ui-text-color);
	line-height: var(--ui-text-line-height);
	font-weight: var(--ui-text-font-weight);
	word-wrap: break-word;

	&--no-icon {

		@media (--ui-tablet-devices) {
			.plan--main {
				.plan__title {
					margin-bottom: 35px;
				}

				.plan__button {
					margin-top: 50px;
				}
			}
		}
	}

	@media (--ui-medium-devices) {
		padding: 80px 0;
	}

	&__inner {
		max-width: var(--ui-content-container);
		margin: 0 auto;
		padding: var(--ui-content-gutter);
	}
}

.title {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	font-family: var(--ui-block-title-font-family);
	font-size: var(--ui-block-title-size);
	font-weight: var(--ui-block-title-font-weight);
	line-height: var(--ui-block-title-line-height);
	color: var(--ui-block-title-color);
}

.subtitle {
	max-width: 688px;
	margin: 0 auto;
	text-align: center;
	font-family: var(--ui-subtitle-font-family);
	font-size: var(--ui-subtitle-size);
	font-weight: var(--ui-subtitle-font-weight);
	line-height: var(--ui-subtitle-line-height);
	color: var(--ui-subtitle-color);

	@media (--ui-medium-devices) {
		max-width: 770px;
	}
}

.plans-wrapper {
	display: flex;
	margin-top: 60px;
	margin-left: -15px;
	margin-right: -15px;
	flex-wrap: wrap;
	justify-content: center;

	@media (--ui-medium-devices) {
		justify-content: center;
		margin-left: 0;
		margin-right: 0;
	}
}

.plan {
	padding: 50px 20px;
	flex-basis: 100%;
	width: 100%;
	text-align: center;
	background-color: #ebeaea;

	@media (--ui-tablet-devices) {
		flex-basis: 33.3333%;
		max-width: 33.3333%;
	}

	@media (--ui-medium-devices) {
		padding: 50px;
	}

	&__title {
		margin-bottom: 25px;
		font-family: var(--ui-heading-font-family);
		font-size: var(--ui-heading-size);
		font-weight: var(--ui-heading-font-weight);
		line-height: var(--ui-heading-line-height);
		color: var(--ui-heading-color);
	}

	&__icon-wrapper {
		width: 75px;
		height: 75px;
		margin: 0 auto 20px;
		border-radius: 50%;
		background-color: var(--ui-media-bg);
		color: var(--ui-icon-color);
	}

	&__price {
		font-family: var(--ui-caption-font-family);
		font-size: var(--ui-caption-size);
		font-weight: var(--ui-caption-font-weight);
		line-height: var(--ui-caption-line-height);
		color: var(--ui-caption-color);
		margin-bottom: 30px;

		&-count {
			display: block;
			font-family: var(--ui-heading-lg-font-family);
			font-size: var(--ui-heading-lg-size);
			font-weight: var(--ui-heading-lg-font-weight);
			line-height: var(--ui-heading-lg-line-height);
			color: var(--ui-heading-lg-color);
		}
	}

	&__list {
		&-item {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__button {
		width: 100%;
		margin-top: 40px;

		@media (--ui-tablet-devices) {
			width: auto;
		}
	}

	&--main {
		position: relative;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);

		@media (--ui-tablet-devices) {
			margin-top: -20px;
			margin-bottom: -30px;
		}

		.plan__title {
			font-weight: 500;
		}

		.plan__icon-wrapper {
			width: 90px;
			height: 90px;
		}

		.plan__button {
			margin-top: 45px;
		}
	}
}

.btns-group {
	margin-top: 30px;
	text-align: center;

	@media (--ui-tablet-devices) {
		margin-top: 90px;
	}

	.button {
		width: 100%;

		@media (--ui-phone-devices) {
			width: auto;
			margin-right: 30px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.link {
	color: var(--ui-link-color);
	transition: color 0.2s ease-out;

	&:hover,
	&:active,
	&:focus {
		color: var(--ui-link-hover-color);
	}
}

/* stylelint-disable */
.title {
	letter-spacing: -1px;
	margin-bottom: 40px;
}

.subtitle {
	color: #838587;

	@media (--ui-medium-devices) {
		max-width: 830px;
	}
}

.plan {
	margin-top: 15px;
	background-color: var(--ui-light-accent-color);

	&:first-child {
		@media (min-width: 992px) {
			padding: 50px 23px 50px 0px;
		}
	}

	&:last-child {
		.plan__icon-wrapper {
			color: var(--ui-brand-color);
		}

		@media (min-width: 992px) {
			padding: 50px 0px 50px 17px;
		}
	}

	&__icon-wrapper {
		position: relative;
		margin-top: -25px;
		margin-bottom: 73px;
		background-color: transparent;

		&::after {
			content: '';
			position: absolute;
			width: 30px;
			height: 3px;
			bottom: -75px;
			left: 50%;
			transform: translateX(-50%);
			background-color: var(--ui-brand-color);
		}
	}

	&__title {
		margin-top: 15px;
		font-size: 20px;
	}

	&__price {
		margin-bottom: 15px;

		&-count {
			margin-bottom: 5px;
			font-size: 80px;
			font-weight: 400;
			letter-spacing: -1px;
		}

		& span {
			text-transform: uppercase;
		}
	}

	svg {
		fill: var(--ui-brand-color);
		width: 75px;
	}

	&__list-item {
		margin-bottom: 10px;
	}

	&__button {
		margin-top: 55px;
		margin-bottom: 23px;
		padding: 11px 27px;
		border-color: #d6d6d7;

		&:hover {
			color: var(--ui-light-shade-color);
			background-color: var(--ui-brand-color);
		}
	}

	&--main {
		box-shadow: none;
		background-color: var(--ui-brand-color);
		color: var(--ui-light-shade-color);

		@media (--ui-tablet-devices) {
			margin-top: -15px;
		}

		.plan__icon-wrapper {
			margin-bottom: 57px;

			&::after {
				bottom: -60px;
				background-color: var(--ui-light-shade-color);
			}
		}

		.plan__title {
			margin-top: 45px;
			color: var(--ui-light-shade-color);
		}

		.plan__price {
			color: var(--ui-light-shade-color);
			&-count {
				color: var(--ui-light-shade-color);
			}
		}

		svg {
			fill: var(--ui-light-shade-color);
			width: 75px;
		}

		.plan__button {
			margin-top: 55px;
			color: var(--ui-dark-accent-color);
			background-color: var(--ui-light-shade-color);

			&:hover {
				color: var(--ui-light-shade-color);
				background-color: #8b8b8b;
			}
		}
	}
}

.btns-group {
	.button {
		padding: 11px 22px;
		border-color: #d6d6d7;
	}

	@media (min-width: 768px) {
		margin-top: 70px;
	}
}

/* stylelint-enable */