@import "../../../uikit/light/vars.css";
@import "../../../uikit/media.css";
@import "../../../uikit/light/buttons.css";

.section {
  min-width: 320px;
  padding: 40px 0;

  /* background-color: var(--ui-block-bg); */
  font-size: var(--ui-text-size);
  font-family: var(--ui-text-font-family);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  word-wrap: break-word;

  @media (--ui-medium-devices) {
    padding: 80px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;
  font-family: var(--ui-block-title-font-family);
  font-size: var(--ui-block-title-size);
  font-weight: var(--ui-block-title-font-weight);
  line-height: var(--ui-block-title-line-height);
  color: var(--ui-block-title-color);
}

.subtitle {
  margin: 0 auto 30px;
  text-align: center;
  font-family: var(--ui-subtitle-font-family);
  font-size: var(--ui-subtitle-size);
  font-weight: var(--ui-subtitle-font-weight);
  line-height: var(--ui-subtitle-line-height);
  color: var(--ui-subtitle-color);

  @media (--ui-tablet-devices) {
    max-width: 618px;
  }

  @media (--ui-medium-devices) {
    max-width: 770px;
  }
}

.items-wrapper {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;

  @media (--ui-medium-devices) {
    justify-content: center;
  }
}

.fake {
  display: none;
  width: 25%;
  height: 0;
  padding: 0 15px;
  flex: 1;
  font-size: 0;

  @media (--ui-tablet-devices) {
    display: block;
  }
}

.item {
  display: flex;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: stretch;
  color: inherit;
  text-decoration: none;
  outline: none;

  @media (--ui-tablet-devices) {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  &:nth-last-of-type(2):first-child ~ .fake {
    display: none;
  }

  &:nth-last-of-type(1):first-child ~ .fake {
    display: none;
  }

  &:nth-last-of-type(3):first-child ~ .fake {
    display: none;
  }

  &:nth-last-of-type(1):first-child,
  &:nth-last-of-type(2):first-child ~ &,
  &:nth-last-of-type(2):first-child,
  &:nth-last-of-type(4):first-child ~ &,
  &:nth-last-of-type(4):first-child {

    @media (--ui-tablet-devices) {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }
  }

  &:nth-last-of-type(3):first-child,
  &:nth-last-of-type(3):first-child ~ & {

    @media (--ui-tablet-devices) {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }
  }

  &:nth-last-of-type(1):first-child {

    @media (--ui-medium-devices) {
      text-align: center;
    }
  }

  &__picture-wrapper {
    position: relative;
  }

  &__picture {
    display: block;
    padding-top: 65%;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--ui-media-bg);
    object-fit: cover;
  }

  &__text {
    margin-top: 15px;
  }
}

.btns-group {
  text-align: center;
}

.link {
  color: var(--ui-link-color);
  transition: color 0.2s ease-out;

  &:hover,
  &:active,
  &:focus {
    color: var(--ui-link-hover-color);
  }
}

.button {
  width: 100%;

  @media (--ui-phone-devices) {
    width: auto;
    margin-right: 30px;
  }
}

/* stylelint-disable */
.section {
  /* &__inner {
    padding: 0px 5px 0px 25px;
  } */
  
  @media (--ui-medium-devices) {
    padding: 40px 0;
  }
}

.title {
  letter-spacing: -1px;
  margin-bottom: 40px;
}

.subtitle {
  margin-bottom: 55px;
  color: #838587;

  @media (--ui-medium-devices) {
     max-width: 830px;
  }
}

.item {
  &__picture {

    @media (--ui-tablet-devices) {
     padding-top: 100%;
    }
  }

  &__text {
    margin: 23px auto -5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: var(--ui-subtitle-color);

    @media (--ui-medium-devices) {
      max-width: 285px;
    }
  }
}

.button {
  border-color: #d6d6d7;

  @media (--ui-medium-devices) {
    margin-right: 2px;
    padding: 11px 27px;
  }
}
/* stylelint-enable */